@charset "UTF-8";
:root {
  --bg-blue: #bfdbef;
  --color-black: #000;
  --light-blue: #8eb6d0;
  --white: #fff;
  --bg-btn: #2285a8;
  --color-hover-link: #056b90;
  --box-shadow: rgba(0, 0, 0, 0.05);
}

.container {
  max-width: 1140px;
  padding: 0 16px;
  width: 100%;
  margin: 0 auto;
}

.burger {
  z-index: 1;
  display: none;
}
@media (max-width: 1023px) {
  .burger {
    display: contents;
    position: absolute;
    top: 30%;
  }
}
@media (max-width: 1023px) {
  .burger__link {
    color: var(--color-black);
    padding: 24px 125px;
  }
  .burger__link:hover {
    color: var(--bg-btn);
  }
}
@media (max-width: 1023px) {
  .burger__btn {
    background-color: var(--bg-blue);
    cursor: pointer;
  }
}
@media (max-width: 1023px) {
  .burger__close {
    padding: 16.5px 150px;
    background-color: var(--white);
    border-bottom: 1px solid var(--bg-blue);
    cursor: pointer;
    box-shadow: var(--box-shadow);
  }
  .burger__close:hover {
    color: var(--bg-btn);
  }
}
.burger__nav {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 20;
  background-color: #fff;
  height: 100vh;
  width: 320px;
  overflow-y: auto;
  transition: transform 0.5s;
  transform: translate(-150%, 0);
}
.burger__item {
  padding: 12px 0px;
}
.burger__list {
  margin-top: 12px;
}
.burger__nav.active {
  display: block;
  transform: translateX(0);
}

.header {
  background-color: var(--bg-blue);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 104px;
  position: relative;
}
@media (max-width: 1023px) {
  .header {
    height: 72px;
  }
}
.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: solid 1px var(--light-blue);
  padding-bottom: 30px;
  padding-top: 20px;
  width: 95%;
}
@media (max-width: 1023px) {
  .header__container {
    padding-bottom: 10px;
  }
}
@media (max-width: 1023px) {
  .header__nav {
    display: none;
  }
}
.header__nav-link {
  font-size: 0.875em;
  font-weight: 500;
  color: var(--color-black);
}
.header__nav-link:hover {
  color: var(--color-hover-link);
}
.header__link {
  display: flex;
  gap: 60px;
}
.header__link-item-login {
  color: var(--color-black);
  cursor: pointer;
}
.header__link-item-login:hover {
  color: var(--color-hover-link);
}
.header__link-item-login:hover svg path {
  stroke: var(--color-hover-link);
}
.header__link-item-login:hover span {
  color: var(--color-hover-link);
}
.header__link-item-login {
  display: flex;
  align-items: center;
  gap: 8px;
}
.header__link-link {
  color: var(--color-black);
}
.header__link-link:hover {
  color: var(--color-hover-link);
}
.header__logo {
  position: absolute;
  left: 51%;
  top: 30%;
  transform: translateX(-50%);
}
.header__nav-list {
  display: flex;
  gap: 60px;
}
.header__link-list {
  display: flex;
  gap: 60px;
}
@media (max-width: 1023px) {
  .header__link-list {
    display: none;
  }
}

.hero {
  background-color: var(--bg-blue);
  height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
@media (max-width: 1023px) {
  .hero {
    height: 90vh;
  }
}
.hero__title {
  font-size: 2em;
  font-weight: 400;
}
.hero__image img {
  vertical-align: middle;
  max-width: 100%;
  height: auto;
  margin-bottom: 8%;
}
@media (max-width: 1023px) {
  .hero__image img {
    margin-bottom: 15%;
  }
}
.hero__description {
  position: absolute;
  top: 60%;
  left: 25%;
  font-size: 1.5em;
  font-weight: 400;
  line-height: 1.6;
  text-align: center;
  gap: 4px;
  z-index: 0.5;
}
@media (max-width: 1023px) {
  .hero__description {
    left: 23%;
    top: 50%;
    font-size: 1.3em;
  }
}
.hero__button-btn {
  display: flex;
  align-items: center;
  gap: 12px;
  background-color: var(--bg-btn);
  padding: 22px 56px;
  border: none;
  border-radius: 8px;
  color: var(--white);
  cursor: pointer;
  position: relative;
  left: 30%;
  top: 20px;
}
.hero__button-btn:hover {
  background-color: var(--color-hover-link);
}
@media (max-width: 1023px) {
  .hero__button-btn {
    padding: 20px 28px;
    left: 30%;
  }
}
.hero__bottom-image {
  position: absolute;
  bottom: 0;
  right: 0;
}

/* about__us */
.about-us {
  display: flex;
  justify-content: center;
}
.about-us__container {
  margin-top: 72px;
}
.about-us__image {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding-right: 20px;
}
.about-us__question {
  margin-top: 40px;
  font-size: 40px;
  font-weight: 700;
  margin-right: 20px;
  text-align: center;
  margin-bottom: 40px;
}
.about-us__description {
  font-size: 1.6em;
  line-height: 43.2px;
}
.about-us__info {
  max-width: 527px;
}
.about-us__info-block {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 12px;
}
.about-us__info-description {
  font-size: 0.875em;
}

/* animation */
.animation-first {
  transform: translate(0px, -100px);
  opacity: 0;
  transition: all 0.7s ease 0s;
}

.animation-first-active {
  transform: translate(0px, 0px);
  opacity: 1;
}

.animation-second {
  transform: translate(0px, -100px);
  opacity: 0;
  transition: all 0.7s ease 0.1s;
}

.animation-second-active {
  transform: translate(0px, 0px);
  opacity: 1;
}

.animation-third {
  transform: translate(0px, -100px);
  opacity: 0;
  transition: all 1s ease 0.2s;
}

.animation-third-active {
  transform: translate(0px, 0px);
  opacity: 1;
}

.animation-fourth {
  transform: translate(0px, 100px);
  opacity: 0;
  transition: all 0.7s ease 0s;
}

.animation-fourth-active {
  transform: translate(0px, 0px);
  opacity: 1;
}

.animation-fifth {
  transform: translateY(-50%);
  animation-name: Appearance;
  animation-duration: 3s;
  animation-timing-function: cubic-bezier(0.1, -0.6, 0.2, 0);
}

.animation-fifth-active {
  transform: translate(0px, 0px);
  opacity: 1;
}

.animation-sixth {
  transform: translate(0px, 100px);
  opacity: 0;
  transition: all 0.7s ease 0.2s;
}

.animation-sixth-active {
  transform: translate(0px, 0px);
  opacity: 1;
}

.animation-seventh {
  transform: translate(0px, 100px);
  opacity: 0;
  transition: all 0.7s ease 0.3s;
}

.animation-seventh-active {
  transform: translate(0px, 0px);
  opacity: 1;
}

.anim-items {
  transform: translate(0px, 100px);
  opacity: 0;
  transition: all 1s ease 0s;
}

.anim-active {
  transform: translate(0px, 0px);
  opacity: 1;
}

/* анимация картинки */
@media (min-width: 1024px) {
  .anim-pattern {
    stroke-dasharray: 500;
    stroke-dashoffset: 500;
    animation: dash 4s linear alternate infinite;
  }
}

@media (min-width: 1024px) {
  .anim-pattern-circle {
    animation-name: circle;
    animation-duration: 8s;
    animation-iteration-count: infinite;
  }
}

@keyframes dash {
  0% {
    stroke-dashoffset: 500;
  }
  100% {
    stroke-dashoffset: 0;
  }
}
@keyframes circle {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
} /*# sourceMappingURL=style.css.map */