@charset "UTF-8";
// размеры ширины окна
$breakpoint-phone: 430.1px;
$breakpoint-tablet: 768px;
$breakpoint-laptop: 1024px;
$breakpoint-desktop: 1366px;

@mixin phone {
  @media (min-width: #{$breakpoint-phone}) {
    @content;
  }
}

@mixin before-phone {
  @media (max-width: #{$breakpoint-phone - 1}) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: #{$breakpoint-tablet}) {
    @content;
  }
}

@mixin before-tablet {
  @media (max-width: #{$breakpoint-tablet - 1}) {
    @content;
  }
}

@mixin laptop {
  @media (min-width: #{$breakpoint-laptop}) {
    @content;
  }
}

@mixin before-laptop {
  @media (max-width: #{$breakpoint-laptop - 1}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$breakpoint-desktop}) {
    @content;
  }
}

@mixin before-desktop {
  @media (max-width: #{$breakpoint-desktop - 1}) {
    @content;
  }
}

:root {
  --bg-blue: #bfdbef;
  --color-black: #000;
  --light-blue: #8eb6d0;
  --white: #fff;
  --bg-btn: #2285a8;
  --color-hover-link: #056b90;
  --box-shadow: rgba(0, 0, 0, 0.05);
  --first-circle:  #169EB0;
  --second-circle: #8251C1;
  --third-circle: #C2DCF0;
  --table-bg: #E9F5FF;
  --table-color-second: #8251C1;
  --table-border: #C2DCF0;

}

.container {
  max-width: 1140px;
  padding: 0 16px;
  width: 100%;
  margin: 0 auto;
}

.burger {
  z-index: 1;
  display: none;

    @include before-laptop {
    display: contents;
    position: absolute;
    top: 30%;
    }

  &__link {
    @include before-laptop {
      color: var(--color-black);
      padding: 24px 125px;

        &:hover {
            color: var(--bg-btn);
        }
    }
  }

  &__btn {
    @include before-laptop {
      background-color: var(--bg-blue);
      cursor: pointer;
    }
  }
  &__close {
    @include before-laptop {
      padding: 16.5px 150px;
      background-color: var(--white);
      border-bottom: 1px solid var(--bg-blue);
      cursor: pointer;
      box-shadow: var(--box-shadow);

        &:hover {
            color: var(--bg-btn);
        }
    }
  }

  &__nav {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 20;
    background-color: #fff;
    height: 100vh;
    width: 320px;
    overflow-y: auto;
    transition: transform 0.5s;
    transform: translate(-150%, 0);
  }

  &__item {
    padding: 12px 0px;
  }
  &__list {
    margin-top: 12px;
  }

  &__nav.active {
    display: block;
    transform: translateX(0);
  }
}


.header {
  background-color: var(--bg-blue);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 104px;
  position: relative;
    @include before-laptop {
        height: 72px;
    }

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: solid 1px var(--light-blue);
    padding-bottom: 30px;
    padding-top: 20px;
    width: 95%;

        @include before-laptop {
            padding-bottom: 10px;
        }
  }

  &__nav {
    @include before-laptop {
        display: none;
    }
  }
  &__nav-link {
    font-size: 0.875em;
    font-weight: 500;
    color: var(--color-black);

        &:hover {
        color: var(--color-hover-link);
        }
  }

  &__link {
    display: flex;
    gap: 60px;
  }


  &__link-item-login {
    color: var(--color-black);
    cursor: pointer;
  
        &:hover {
        color: var(--color-hover-link);
        }
    
        &:hover svg path {
        stroke: var(--color-hover-link);
        }
    
        &:hover span {
        color: var(--color-hover-link);
        }
  }

  &__link-item-login {
    display: flex;
    align-items: center;
    gap: 8px;

  }
  &__link-link {
    color: var(--color-black);
        &:hover{
            color: var(--color-hover-link);
        }
  }


  &__logo {
    position: absolute;
    left: 51%;
    top: 30%;
    transform: translateX(-50%);
  }
  &__nav-list {
    display: flex;
    gap: 60px;
  }
  &__link-list {
    display: flex;
    gap: 60px;

        @include before-laptop {
            display: none;
        }
  }
}


.hero {
  background-color: var(--bg-blue);
  height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
    
  @include before-laptop {
    height: 90vh;
  }

  &__title {
    font-size: 2em;
    font-weight: 400;
  }

//   &__image {


// }
&__image img {
    vertical-align:middle;
    max-width: 100%;
    height: auto;
    margin-bottom: 8%;

    @include before-laptop {
        margin-bottom: 15%;
    }
}


  &__description {
    position: absolute;
    top: 55%;
    left: 25%;
    font-size: 1.5em;
    font-weight: 400;
    line-height: 1.6;
    text-align: center;
    gap: 4px;
    z-index: 0.5;

        @include before-laptop {
            left: 23%;
            top: 50%;
            font-size: 1.3em;
        }
  }

  &__button-btn {
    display: flex;
    align-items: center;
    gap: 12px;
    background-color: var(--bg-btn);
    padding: 22px 56px;
    border: none;
    border-radius: 8px;
    color: var(--white);
    cursor: pointer;
    position: relative;
    left: 30%;
    top: 20px;

        &:hover {
        background-color: var(--color-hover-link);
        }

            @include before-laptop {
                padding: 20px 28px;
                left: 30%;
            }

  }
  &__bottom-image {
    position: absolute;
    bottom: 0;
    right: 0;
  }
}

/* about__us */
.about-us {
  height: 100vh;

  &__container {
    margin-top: 72px;
  }

  &__image {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-right: 20px;
  }

  &__question {
    margin-top: 40px;
    font-size: 40px;
    font-weight: 700;
    margin-right: 20px;
    text-align: center;
    margin-bottom: 40px;
  }

  &__description {
    font-size: 1.6em;
    line-height: 43.2px;
    margin-bottom: 24px;
  }

  &__info {
    max-width: 527px;
    margin-bottom: 48px;
    display: flex;
    gap: 12px;
  }
  
  &__block-info-header {
    font-size: 16px;
    font-weight: 600;
  }

  &__info-description {
    font-size: 0.875em;
  }

  &__graf-block-image {
    max-width: 55%;
    height: auto;
    position: absolute;
    left: 13%;
    top: 65%;

    @include before-laptop {
      left: 2.5%;
      top: 64%;
    }
  }

  &__graf-block-svg {
    max-width: 55%;
    height: auto;
    position: absolute;
    top: 59%;
    left: 15%;

    @include before-laptop {
      left: 5%;
      top: 63%;
    }
  }

  &__graf-description {
    position: absolute;
    right: 8%;
    top: 68%;

    @include before-laptop {
      right: 5%;
      top: 65%;
    }
  }
  &__graf-description-header {
    font-size: 14px;
    font-weight: 700;
    padding: 20px 0;
  }
  &graf-description-block-text {
    font-size: 14px;
  }
  &__graf-description-block {
    padding: 4px 0;
    display: flex;
    align-items: center;
    gap: 8px;
  }
  &__graf-description-first-circle{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: var(--first-circle);
    ;
  }
  &__graf-description-second-circle{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: var(--second-circle);
  }
  &__graf-description-third-circle{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: var(--third-circle);
  }

  
  &__block-table {
    width: 80%;
    position: absolute;
    bottom: -55%;
  }

  &__block-table-thead-block-header {
    padding: 16px 0;
    font-size: 25px;
    font-weight: 700;
  }

  &__block-table-first {
    background-color: var(--table-bg);
    height: 38px;
    text-align: center;
  }

  &__block-table-first-text {
    padding-top: 10px;
    color: var(--bg-btn);
  }

  &__block-table-second {
    color: var(--bg-btn);
    border-bottom: 1px solid var(--table-border);
  }

  &__block-table-third {
    color: var(--table-color-second);
    border-bottom: 1px solid var(--table-border);
  }

  &__block-table-fourth {
    border-bottom: 1px solid var(--table-border);

  }
}

.table-name {
  width: 40%;
}

td {
  padding: 16px 0;
}


.table__text-center {
  text-align: center;
}
.center-border {
  border-right: 1px solid var(--table-border);
}


/* animation */
.animation-first {
  transform: translate(0px, -100px);
  opacity: 0;
  transition: all 0.7s ease 0s;
}

.animation-first-active {
  transform: translate(0px, 0px);
  opacity: 1;
}

.animation-second {
  transform: translate(0px, -100px);
  opacity: 0;
  transition: all 0.7s ease 0.1s;
}

.animation-second-active {
  transform: translate(0px, 0px);
  opacity: 1;
}

.animation-third {
  transform: translate(0px, -100px);
  opacity: 0;
  transition: all 1s ease 0.2s;
}

.animation-third-active {
  transform: translate(0px, 0px);
  opacity: 1;
}

.animation-fourth {
  transform: translate(0px, 100px);
  opacity: 0;
  transition: all 0.7s ease 0s;
}

.animation-fourth-active {
  transform: translate(0px, 0px);
  opacity: 1;
}

.animation-fifth {
  transform: translateY(-50%);
  animation-name: Appearance;
  animation-duration: 3s;
  animation-timing-function: cubic-bezier(0.1, -0.6, 0.2, 0);
}

.animation-fifth-active {
  transform: translate(0px, 0px);
  opacity: 1;
}

.animation-sixth {
  transform: translate(0px, 100px);
  opacity: 0;
  transition: all 0.7s ease 0.2s;
}

.animation-sixth-active {
  transform: translate(0px, 0px);
  opacity: 1;
}

.animation-seventh {
  transform: translate(0px, 100px);
  opacity: 0;
  transition: all 0.7s ease 0.3s;
}

.animation-seventh-active {
  transform: translate(0px, 0px);
  opacity: 1;
}

.anim-items {
  transform: translate(0px, 100px);
  opacity: 0;
  transition: all 1s ease 0s;
}

.anim-active {
  transform: translate(0px, 0px);
  opacity: 1;
}

/* анимация картинки */
.anim-pattern {
    @include laptop {
        stroke-dasharray: 500;
        stroke-dashoffset: 500;
        animation: dash 4s linear alternate infinite;
    }
}

.anim-pattern-circle {
    @include laptop {
        animation-name: circle;
        animation-duration: 8s;
        animation-iteration-count: infinite;
    }
}

@keyframes dash {
  0% {
    stroke-dashoffset: 500;
  }
  100% {
    stroke-dashoffset: 0;
  }
}
@keyframes circle {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
} /*# sourceMappingURL=style.css.map */
