@charset "UTF-8";
// размеры ширины окна
$breakpoint-phone: 430.1px;
$breakpoint-tablet: 768px;
$breakpoint-laptop: 1024px;
$breakpoint-desktop: 1366px;

@mixin phone {
  @media (min-width: #{$breakpoint-phone}) {
    @content;
  }
}

@mixin before-phone {
  @media (max-width: #{$breakpoint-phone - 1}) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: #{$breakpoint-tablet}) {
    @content;
  }
}

@mixin before-tablet {
  @media (max-width: #{$breakpoint-tablet - 1}) {
    @content;
  }
}

@mixin laptop {
  @media (min-width: #{$breakpoint-laptop}) {
    @content;
  }
}

@mixin before-laptop {
  @media (max-width: #{$breakpoint-laptop - 1}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$breakpoint-desktop}) {
    @content;
  }
}

@mixin before-desktop {
  @media (max-width: #{$breakpoint-desktop - 1}) {
    @content;
  }
}

:root {
  --bg-blue: #bfdbef;
  --color-black: #000;
  --light-blue: #8eb6d0;
  --white: #fff;
  --bg-btn: #2285a8;
  --bg-btn-hover: #19637e;
  --color-hover-link: #8251c1;
  --box-shadow: rgba(0, 0, 0, 0.05);
  --info-block: #e9f5ff;

  --table-color-second: #8251c1;
  --table-border: #c2dcf0;
  --table-mvf: #D30707;
  --table-nbu: #E27108;
  --table-jp: #09AC37;
  --table-ueo-bg: #D7EBFA;

  --footer-link: #0076a0;
  --footer-link-info: #606d81;
}

.container {
  max-width: 1140px;
  padding: 0 16px;
  width: 100%;
  margin: 0 auto;
}

.burger {
  z-index: 1;
  display: none;

  @include before-laptop {
    display: block;
  }

  &__block {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 20;
    background-color: #fff;
    height: 100vh;
    width: 320px;
    overflow-y: auto;
    transition: transform 0.5s;
    transform: translate(-150%, 0);
    box-shadow: 4px 4px 4px var(--box-shadow);

    &.active {
      transform: translateX(0);
    }

    @include before-phone {
      width: 100vw;
    }
  }

  &__open {
    @include before-laptop {
      background-color: transparent;
      cursor: pointer;
    }

    @include before-phone {
      scale: 0.7;
    }
  }

  &__close {
    height: 72px;
    width: inherit;
    background-color: var(--white);
    border-bottom: 1px solid var(--bg-blue);
    cursor: pointer;

    &:hover {
      color: var(--color-hover-link);
    }

    @include before-phone {
      height: 40px;

      & svg {
        scale: 0.7;
      }
    }
  }

  &__list {
    margin-top: 12px;
    text-align: center;
  }

  &__link {
    display: block;
    color: var(--color-black);
    width: 100%;
    height: 100%;
    padding: 12px 0px;

    &:hover {
      color: var(--color-hover-link);
    }
  }
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 104px;
  position: absolute;
  z-index: 1;
  width: 100%;

  @include before-laptop {
    height: 72px;
  }

  @include before-phone {
    height: 40px;
  }

  &__container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: solid 1px var(--light-blue);

    @include before-desktop() {
      width: 85%;
    }

    @include before-laptop() {
      padding: 0;
    }

    @include before-phone {
      width: 90%;
      border: 0;
    }
  }

  &__list {
    @include laptop {
      gap: 60px;
      display: flex;
      align-items: center;
    }
  }

  &__link {
    font-size: 0.875em;
    font-weight: 500;
    color: var(--color-black);

    &:hover {
      color: var(--color-hover-link);
    }

    @include before-laptop {
      display: none;

      &_login {
        display: inline;
      }
    }

    &_login {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 8px;
      cursor: pointer;

      @include before-phone {
        font-size: 0.75em;
      }

      &:hover svg path {
        stroke: var(--color-hover-link);
      }

      &:hover span {
        color: var(--color-hover-link);
      }
    }
  }

  &__logo {
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 100px;

    @include before-phone() {
      scale: 0.5;
    }
  }
}

.hero {
  background-color: var(--bg-blue);
  height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-top: 200px;

  @include before-laptop {
    height: fit-content;
    padding: 100px 0 140px;
  }

  @include before-tablet {
    padding: 100px 0 40px;
  }

  @include before-phone {
    padding: 60px 0 32px;
  }

  &__title {
    position: relative;
    font-size: 2em;
    font-weight: 400;
  }

  &__image {
    max-width: 100%;
    margin-bottom: -10%;
    margin-top: -5%;
    margin-left: -8%;

    @include before-desktop {
      margin-left: -10%;
    }

    @include before-tablet {
      margin-left: -11%;
    }
  }

  &__description {
    margin-bottom: 24px;
    font-size: 1.5em;
    font-weight: 400;
    line-height: 1.6;
    text-align: center;

    @include before-tablet {
      font-size: 1em;
    }

    @include before-phone {
      font-size: 0.75em;
    }
  }

  &__button-btn {
    position: relative;
    margin: 0 auto;
    display: flex;
    align-items: center;
    gap: 12px;
    background-color: var(--bg-btn);
    padding: 22px 56px;
    border: none;
    border-radius: 8px;
    color: var(--white);
    font-weight: 700;
    cursor: pointer;

    &:hover {
      background-color: var(--bg-btn-hover);
    }

    @include before-laptop {
      padding: 20px 28px;
    }
  }

  &__bottom-image {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 1;

    @include before-tablet {
      display: none;
    }
  }
}

/* about__us */


.about-us {
  height: 100vh;
  background-color: #fff;
  margin-top: 72px;

  &__container {
    display: flex;
    flex-direction: column;
    gap: 60px;
  }

  &__block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
  }

  &__question {
    font-size: 40px;
    font-weight: 700;
  }

  &__description {
    font-size: 1.6em;
    line-height: 43.2px;
    text-align: center;
  }

  &__info {
    max-width: 527px;
    display: flex;
    gap: 12px;
    background-color: var(--info-block);
    padding: 24px 16px;
    border-radius: 4px;
  }

  &__block-info-header {
    font-size: 16px;
    font-weight: 600;
  }

  &__info-description-text{
    font-size: 1.5em;
    color: var(--bg-btn);
  }

  &__description-strong {
    font-weight: 700;
  }

  &__prediction {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    box-shadow: 4px 4px 30px 0px #738EAE40;
    padding: 24px 0;
  }

  &__prediction-header {
    font-size: 1.5em;
    font-weight: 700;
    padding: 24px;

    @include before-tablet {
      font-size: 1.1em;
    }
  }

  &__prediction-block {
    width: 90%;
    display: flex;
    padding: 24px;
    justify-content: space-between;
    border-top: 1px solid var(--table-border);
    font-size: 1.5em;

    @include before-tablet {
      font-size: 1.1em;
    }
  }

  &__prediction-block-ueo {
    background-color: var(--table-ueo-bg);
  }

  &__prediction-block-fact {
    font-size: 2.125em;
    font-weight: 700;

    @include before-tablet {
      font-size: 1.5em;
    }
  }

  &__prediction-block-mvf {
    color: var(--table-mvf);
  }

  &__prediction-block-nbu {
    color: var(--table-nbu);
  }

  &__prediction-block-jp {
    color: var(--table-jp);
  }

}


.footer {
margin-top: 600px;

  &__container {
    display: flex;
    flex-direction: column;
    gap: 130px;

    @include before-tablet {
      gap: 40px;
    }
  }

  &__main {
    display: flex;
    justify-content: space-between;

    @include before-tablet {
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 60px;
    }
  }

  &__main-flex {
    display: flex;
    gap: 130px;

    @include before-laptop {
      gap: 80px;
    }

    @include before-tablet {
      justify-content: center;
    }
  }

  &__main-logo {
    max-width: 116px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 28px;
  }


  &__main-link-nav-list{
    display: flex;
    flex-direction: column;
    gap: 28px;

    @include before-tablet {
      text-align: center;
    }
  }

  &__main-logo-text {
    color: var(--color-black);
    line-height: 28.2px;
    font-size: 25.45px;
  }

  &__main-link-nav-item {
    font-size: 18px;
    font-weight: 700;
  }


  &__main-link-nav-link {
    color: var(--color-black);
    &:hover {
      color: var(--footer-link);
    }
  }

  &__main-info {
    @include before-tablet {
      display: flex;
      justify-content: center;
      text-align: center;
    }
  }

  &__main-info-list {
    display: flex;
    flex-direction: column;
    gap: 30px;
    color: var(--footer-link-info);  

    &:hover {
      color: var(--bg-btn);
    }
  
  }
  &__main-info-link {
    color: var(--footer-link-info);

    &:hover {
      color: var(--bg-btn);
    }
  }

  &__main-info-item-privacy {
    color: var(--bg-btn);
    border-bottom: 1px solid var(--bg-btn);
    font-size: 14px;
    font-weight: 700;
  }

  &__main-social {
    @include before-tablet {
      display: flex;
      justify-content: center;
    }
  }

  &__main-social-list {
    display: flex;
    gap: 16px;
  }

  &__bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 48px;
  }
  &__bottom-copyright {
    display: flex;
    align-items: center;
  }

  &__bottom-payment {
    display: flex;
    gap: 24px;
    align-items: center;
  }
}

/* animation */
.animation-first-down {
  transform: translate(0px, -100px);
  opacity: 0;
  transition: all 0.7s ease 0s;
}

.animation-first-down-active {
  transform: translate(0px, 0px);
  opacity: 1;
}

.animation-second-down {
  transform: translate(0px, -100px);
  opacity: 0;
  transition: all 0.7s ease 0.1s;
}

.animation-second-down-active {
  transform: translate(0px, 0px);
  opacity: 1;
}

.animation-third-down {
  transform: translate(0px, -100px);
  opacity: 0;
  transition: all 1s ease 0.2s;
}

.animation-third-down-active {
  transform: translate(0px, 0px);
  opacity: 1;
}

.animation-fourth {
  transform: translate(0px, 100px);
  opacity: 0;
  transition: all 0.7s ease 0s;
}

.animation-fourth-active {
  transform: translate(0px, 0px);
  opacity: 1;
}

.animation-fifth {
  transform: translateY(-50%);
  animation-name: Appearance;
  animation-duration: 3s;
  animation-timing-function: cubic-bezier(0.1, -0.6, 0.2, 0);
}

.animation-fifth-active {
  transform: translate(0px, 0px);
  opacity: 1;
}

.animation-sixth {
  transform: translate(0px, 100px);
  opacity: 0;
  transition: all 0.7s ease 0.2s;
}

.animation-sixth-active {
  transform: translate(0px, 0px);
  opacity: 1;
}

.animation-seventh {
  transform: translate(0px, 100px);
  opacity: 0;
  transition: 0.7s ease 0.3s;
}

.animation-seventh-active {
  transform: translate(0px, 0px);
  opacity: 1;
}

.anim-items {
  transform: translate(0px, 100px);
  opacity: 0;
  transition: all 1s ease 0s;
}

.anim-active {
  transform: translate(0px, 0px);
  opacity: 1;
}

/* анимация картинки */
.anim-pattern {
  @include laptop {
    stroke-dasharray: 500;
    stroke-dashoffset: 500;
    animation: dash 4s linear alternate infinite;
  }
}

.anim-pattern-circle {
  @include laptop {
    animation-name: circle;
    animation-duration: 8s;
    animation-iteration-count: infinite;
  }
}

@keyframes dash {
  0% {
    stroke-dashoffset: 500;
  }
  100% {
    stroke-dashoffset: 0;
  }
}
@keyframes circle {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
} /*# sourceMappingURL=style.css.map */
